<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forfatter</title>
    <link rel="stylesheet" href="author.css">
</head>
<body>
<div id="root">
    <div id="write">
        <h1>Skriv/rediger et stykke</h1>
        <form id="writeForm">
            <input type="text" id="fileName" placeholder="Enter name of existing file to edit or a new name to create a new file">
            <br> <br>
            <button type="submit">Submit</button>
        </form>
        <div id="play"></div>
    </div>
    <div id="read"></div>
</div>
<script>
    const writeForm = document.getElementById('writeForm');
    const fileName = document.getElementById('fileName');
    const read = document.getElementById('read');
    const playElement = document.getElementById('play');
    const play = { fileName: '', events: []}

    const eventContainer = document.createElement('div');
    eventContainer.id = 'eventContainer';
    playElement.appendChild(eventContainer);

    function handleFormSubmit(e) {
        e.preventDefault();

        // Check if text fields, button and paragraph already exist
        let eventNameField = document.getElementById('eventName');
        let eventDescriptionField = document.getElementById('eventDescription');
        let createEventButton = document.getElementById('createEventButton');
        let eventInfoParagraph = document.getElementById('eventInfo');

        // If they don't exist, create them
        if (!eventNameField) {
            // Create paragraph
            eventInfoParagraph = document.createElement('p');
            eventInfoParagraph.id = 'eventInfo';
            eventInfoParagraph.textContent = `There are currently ${play.events.length} events. You can create a new one below:`;
            writeForm.appendChild(eventInfoParagraph);

            eventNameField = document.createElement('input');
            eventNameField.type = 'text';
            eventNameField.id = 'eventName';
            eventNameField.placeholder = 'Enter event name';
            writeForm.appendChild(eventNameField);
        }

        if (!eventDescriptionField) {
            eventDescriptionField = document.createElement('input');
            eventDescriptionField.type = 'text';
            eventDescriptionField.id = 'eventDescription';
            eventDescriptionField.placeholder = 'Enter event description';
            writeForm.appendChild(eventDescriptionField);
        }

        if (!createEventButton) {
            createEventButton = document.createElement('button');
            createEventButton.textContent = 'Create Event';
            createEventButton.id = 'createEventButton';
            createEventButton.addEventListener('click', () => {
                const event = {
                    playEventName: eventNameField.value,
                    eventDescription: eventDescriptionField.value,
                    choices: []
                };
                createEvent(event);
            });
            writeForm.appendChild(createEventButton);
        }

        // If they do exist, clear their values and update paragraph
        else {
            eventNameField.value = '';
            eventDescriptionField.value = '';
            eventInfoParagraph.textContent = `There are currently ${play.events.length} events. You can create a new one below:`;
        }

        fetchPlayData(fileName.value);
    }

    if (writeForm) {
        writeForm.addEventListener('submit', handleFormSubmit);
    } else {
        console.error("No element with id 'writeForm' found");
    }

    function fetchPlayData(name) {
        fetch(`http://localhost:8080/api/play/${name}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .then(data => mapDataToPlayObject(data))
            .catch((error) => console.error('Error:', error));
    }

    function mapDataToPlayObject(data) {
        play.fileName = data.fileName;
        if(data.events != null){
            play.events = data.events.map(event => ({
                id: event.id,
                playEventName: event.playEventName,
                eventDescription: event.eventDescription,
                choices: event.choices ? event.choices.map(choice => ({
                    id: choice.id,
                    choiceDescription: choice.choiceDescription,
                    nextEvent: choice.nextEvent
                })) : []
            }));
        }

        // Clear the event container
        eventContainer.innerHTML = '';

        // Append all events to the event container
        play.events.forEach(event => createEventDiv(event));
    }

    function createEventDiv(event) {
        const eventDiv = document.createElement('div');
        eventDiv.className = 'event';
        eventDiv.innerHTML = `<h2 class="event-name">Event name: ${event.playEventName}</h2>`;
        eventDiv.innerHTML += `<h3 class="event-id">Event id: ${event.id}</h3>`;
        eventDiv.innerHTML += `<h3 class="event-description">Event description: ${event.eventDescription}</h3>`;

        // Create text fields
        const eventNameField = document.createElement('input');
        eventNameField.type = 'text';
        eventNameField.id = `eventName${event.id}`;
        eventNameField.placeholder = 'Enter new event name';

        const eventDescriptionField = document.createElement('input');
        eventDescriptionField.type = 'text';
        eventDescriptionField.id = `eventDescription${event.id}`;
        eventDescriptionField.placeholder = 'Enter new event description';

        // Create button
        const updateEventButton = document.createElement('button');
        updateEventButton.textContent = 'Update Event';
        updateEventButton.addEventListener('click', () => {
            // Update event properties
            event.playEventName = eventNameField.value;
            event.eventDescription = eventDescriptionField.value;

            // Update event on server
            updateEvent(event)
                .then(() => {
                    // Update text in event div
                    eventDiv.querySelector('.event-name').textContent = `Event name: ${event.playEventName}`;
                    eventDiv.querySelector('.event-description').textContent = `Event description: ${event.eventDescription}`;
                })
                .catch(error => console.error('Error:', error));
        });

        // Append text fields and button to the event div
        eventDiv.appendChild(eventNameField);
        eventDiv.appendChild(eventDescriptionField);
        eventDiv.appendChild(updateEventButton);

        eventContainer.appendChild(eventDiv);
    }







    function createEvent(event) {
        fetch('http://localhost:8080/api/event', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(event),
        })
            .then(response => response.json())
            .then(data => {
                // Add the new event to the play.events array
                play.events.push(data);
                console.log("play object in create event " + play);

                // Update the play object on the server
                updatePlay(play);


            });
    }



    function addChoice(choice, event) {
        console.log("got here");
        fetch('http://localhost:8080/api/choice', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(choice),
        })
            .then(response => response.json())
            .then(data => {
                event.choices.push(data);
                addChoiceToEvent(data, event);
            });
    }

    function addChoiceToEvent(choice, event) {
        fetch(`http://localhost:8080/api/event/${event.id}/${choice.id}`, { method: 'PUT' });
    }

    function updatePlay(play){
        console.log("play object in update play " + play.fileName);
        fetch(`http://localhost:8080/api/play/update/${play.id}`, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(play),
        })
            .then(response => response.json())
            .then(data => {
                fetchPlayData(data.filename);
            })
    }

    function updateChoice(choice){
        console.log("got here");
        fetch('http://localhost:8080/api/choice', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(choice),
        });
    }

    function updateEvent(event) {
        console.log("got here");
        return fetch('http://localhost:8080/api/event', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(event),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Event updated successfully: ', data);
                fetchPlayData(play.fileName);
            })
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>